<section class="aboutus">

    <div class="container">
        <div class="aboutus__box">

            <div class="aboutus__image-wrapper">
                <img class="aboutus__image" src="images/aboutus.png" alt="Fruit">
            </div>
            <div class="aboutus__content">
                <h2 class="aboutus__title">Коротко про нас</h2>
                <p class="aboutus__text">Fruit snack shop - невеликий сімейний бізнес
                    по виробництву смачних та корисних солодощів.
                    Ідея створення народилася з появою в нашій сім’ї дитини,
                    після чого необхідно було знайти варіанти смачних та корисних солодощів.
                    Адже в складі магазинних продуктів багато шкідливих компонентів.
                    Так і почалися експерименти по виготовленню натуральної пастили
                    та фруктових чіпсів, а потім шоколаду та цукерок на основі керобу.
                    Згодом просто захоплення поступово переросло в улюблену справу. </p>
                <button class="aboutus__button button-red">ДЕТАЛЬНІШЕ</button>
            </div>


        </div>
        <div class="aboutus__holder">
            <p class="aboutus__holder-title">Наші переваги</p>
            <ul class="aboutus__holder-list">
                <li class="aboutus__holder-item">
                    <div class="aboutus__holder-img">
                        <img src="images/svg/Iconnatural.svg" alt="">
                    </div>
                    <p class="aboutus__holder-text">
                        Тільки натуральні компоненти
                    </p>
                </li>
                <li class="aboutus__holder-item">
                    <div class="aboutus__holder-img">
                        <img src="images/svg/Iconsafety.svg" alt="">
                    </div>
                    <p class="aboutus__holder-text">
                        Гарантія якості продукції
                    </p>
                </li>
                <li class="aboutus__holder-item">
                    <div class="aboutus__holder-img">
                        <img src="images/svg/Iconheart.svg" alt="">
                    </div>
                    <p class="aboutus__holder-text">
                        Ідеальне поєднання смаку та користі
                    </p>
                </li>
                <li class="aboutus__holder-item">
                    <div class="aboutus__holder-img">
                        <img src="images/svg/Iconpresent.svg" alt="">
                    </div>
                    <p class="aboutus__holder-text">
                        Онлайн конструктор подарункового набору
                    </p>
                </li>
            </ul>
        </div>
    </div>

</section>