<section class="assortment" id="assortment">
    <div class="container">
        <div class="assortment__box">
            <h2 class="assortment__title">Асортимент</h2>
            <p class="assortment__text">Асортимент Fruit snack shop
                включає такі групи солодощів: натуральна пастила,
                фруктові чіпси, шоколад та цукерки. Наша продукція
                виготовляється тільки з натуральних компонентів,
                не містить шкідливих домішок та цукру. До складу
                пастили та фруктових чіпсів входять свіжі фрукти
                та ягоди. Шоколад і цукерки готуються на основі
                керобу та какао масла з додаванням сухофруктів
                та горіхів. Продукція Fruit snack shop - смачні
                та ароматні ласощі, які підходять всім. Ці солодощі
                можна дітям з початком введення прикорму, вагітним,
                годуючим мамам, спортсменам, бажаючим схуднути й
                просто прибічникам здорового харчування. </p>
            <div class="assortment__holder">
                <div class="assortment__left">
                    <button class="assortment__buttons button-gold">ПАСТИЛА</button>
                    <div class="assortment__descr-left">
                        <p>НАТУРАЛЬНА ПАСТИЛА</p>
                        <p>(АСОРТІ)</p>
                        <div class="assortment__descr-box"></div>
                        <p class="assortment__descr-text">60 грн. / 100 г</p>
                        <button class="assortment__descr-btn button-green">ЗАМОВИТИ</button>
                    </div>
                    <img class="assortment__img" src="images/pastila.jpg" alt="ПАСТИЛА">
                </div>
                <div class="assortment__center">
                    <div class="assortment__up">
                        <button class="assortment__buttons button-gold">ШОКОЛАД</button>
                        <div class="assortment__descr-center">
                            <p>ШОКОЛАДНІ</p>
                            <p>ПЛИТКИ</p>
                            <div class="assortment__descr-box"></div>
                            <p class="assortment__descr-text-center">80 грн. / 100 г</p>
                            <button class="assortment__descr-btn button-green">ЗАМОВИТИ</button>
                        </div>
                        <img class="assortment__img" src="images/shokolad.jpg" alt="ШОКОЛАД">
                    </div>
                    <div class="assortment__down">
                        <button class="assortment__buttons button-gold">ЦУКЕРКИ В ШОКОЛАДІ</button>
                        <div class="assortment__descr-center">

                            <p>ШОКОЛАДНІ</p>
                            <p>ЦУКЕРКИ</p>
                            <div class="assortment__descr-box"></div>
                            <p class="assortment__descr-text-center">80 грн. / 100 г</p>
                            <button class="assortment__descr-btn button-green">ЗАМОВИТИ</button>

                        </div>
                        <img class="assortment__img" src="images/candyinshokolad.jpg" alt="ЦУКЕРКИ В ШОКОЛАДІ">
                    </div>
                </div>
                <div class="assortment__right">
                    <button class="assortment__buttons button-gold">ФРУКТОВІ ЧІПСИ</button>
                    <div class="assortment__descr-right">
                        <p>ФРУКТОВІ ЧІПСИ</p>
                        <p>(АСОРТІ)</p>
                        <div class="assortment__descr-box"></div>
                        <p class="assortment__descr-text">від 70 грн. / 100 г</p>
                        <button class="assortment__descr-btn button-green">ЗАМОВИТИ</button>
                    </div>
                    <img class="assortment__img" src="images/chips.jpg" alt="ФРУКТОВІ ЧІПСИ">
                </div>
            </div>
            <button class="assortment__button button-green">В КАТАЛОГ</button>
        </div>
    </div>
</section>