<section class="assortment">
    <div class="container">
        <div class="assortment__box">
            <h2 class="assortment__title">Асортимент</h2>
            <p class="assortment__text">Асортимент Fruit snack shop
                включає такі групи солодощів: натуральна пастила,
                фруктові чіпси, шоколад та цукерки. Наша продукція
                виготовляється тільки з натуральних компонентів,
                не містить шкідливих домішок та цукру. До складу
                пастили та фруктових чіпсів входять свіжі фрукти
                та ягоди. Шоколад і цукерки готуються на основі
                керобу та какао масла з додаванням сухофруктів
                та горіхів. Продукція Fruit snack shop - смачні
                та ароматні ласощі, які підходять всім. Ці солодощі
                можна дітям з початком введення прикорму, вагітним,
                годуючим мамам, спортсменам, бажаючим схуднути й
                просто прибічникам здорового харчування. </p>
            <div class="assortment__holder">
                <div class="assortment__left">
                    <div class="assortment__left-img-wrapper">
                        <div class="assortment__left-img">
                            <span class="assortment__description">asasasasas</span><img class="assortment__img"
                                src="images/pastila.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="assortment__central">
                    <div class="assortment__central-up">
                        <div class="assortment__central-up-img-wrapper">
                            <div class="assortment__central-up-img">
                                <span class="assortment__description">asasasasas</span><img class="assortment__img"
                                    src="images/shokolad.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="assortment__central-down">
                        <div class="assortment__central-down-img-wrapper">
                            <div class="assortment__central-down-img">
                                <span class="assortment__description">asasasasas</span><img class="assortment__img"
                                    src="images/candyinshokolad.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="assortment__right">
                    <div class="assortment__right-img-wrapper">
                        <div class="assortment__right-img">
                            <span class="assortment__description">asasasasas</span><img class="assortment__img"
                                src="images/chips.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <button class="assortment__button button-green">В КАТАЛОГ</button>
        </div>
    </div>
</section>