<section class="doityourself"></section>

<div class="container">
    <div class="doityourself__box">
        <div class="doityourself__content">
            <h2 class="doityourself__title">Зроби сам</h2>
            <p class="doityourself__text">Хочете здивувати рідних оригінальним подарунком?
                Тоді спробуйте створити святковий набір на нашому сайті. Це легкий та
                захоплюючий процес, який точно не залишить вас байдужим. Пройдіть п’ять
                простих кроків і унікальний святковий набір корисних солодощів з’явиться
                на екрані. Такий подарунок стане чудовою альтернативою звичній шоколадці
                чи коробці цукерок. А найприємніше: ваша пряма участь в створенні солодкого
                подарунка. Відкиньте всі сумніви та переходьте в конструктор. <br>
                Приємного вибору!</p>
            <button class="doityourself__button button-red">КОНСТРУКТОР</button>
        </div>
        <div class="doityourself__image-wrapper">
            <img class="doityourself__image" src="images/constructor.png" alt="Fruit">
        </div>
    </div>
</div>
</div>