<footer class="footer">
    <div class="container">
        <p class="footer__title">Ми в соціальних мережах</p>
        <ul class="footer__list">
            <li class="footer__items"><a href="https://www.facebook.com/Fruit-Snack-Shop-340333309996566/"
                    target="_blank"><img class="footer__icons" src="../images/svg/facebook.svg" alt="facebook"></a></li>
            <li class="footer__items"><a href="https://www.instagram.com/fruit_snack_shop/?hl=ru" target="_blank"><img
                        class="footer__icons" src="../images/svg/instagram.svg" alt="instagram"></a></li>
        </ul>
        <p class="footer__text">&copy; Fruit snack shop, 2020. Всі права захищено.</p>
    </div>
</footer>