.maps {
  &__box {
    display: flex;
    flex-direction: column;
    max-width: $grid-width;
    margin: 0 auto;
    margin-bottom: 32px;
  }
  &__title {
    margin: 0 auto;
    text-align: center;
    @include text($H320, 500, $text-color);
    margin-bottom: 34px;
    @media screen and (min-width: $screen-iphone-plus) {
      @include text($H360, 500, $text-color);
    }
    @media screen and (min-width: $screen-tablet) {
      @include text($H360, 500, $text-color);
      width: 500px;
    }
    @media screen and (min-width: $screen-desktop) {
      @include text($H560, 500, $text-color);
    }
  }

  &__map {
    position: relative;
    width: 100%;
    height: 300px;
    @media screen and (min-width: $screen-tablet) {
      height: 500px;
    }
  }
}
