.button-gold {
  display: block;
  background-color: $gold-btn-color;
  border: 0px;

  padding-top: 13px;
  padding-bottom: 13px;
  border-radius: 8px;
  letter-spacing: 1.2px;
  margin: 0 auto;
  &:focus {
    border: none;
    outline: none;
  }
  &:hover {
    cursor: pointer;
    background-color: darken($color: $green-btn-color, $amount: 5%);
  }
  @include text($H180, 500, $nav-color);
}
